<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Company Salary Offer Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #000;">
 <div class="login">
	<h2>Data Skills ≈ Money</h2>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict') }}" method="post">
    	<input type="number" step="0.1" name="rating" placeholder="Type company rating" required="required" min="0" max="5"/>
        <input type="text" name="Skills list" placeholder="Data Analyst Skills" required="required" />


        <button type="submit" class="btn btn-primary btn-block btn-large">See how much they offer</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
