<!DOCTYPE html>
<html lang="en">
<head>
  <title>NYC Data Analyst Salary Predictor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NFMT56K');</script>
    <!-- End Google Tag Manager -->

        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153150408-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-153150408-1');
    </script>



    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <link rel="stylesheet" href="/static/css/floating-labels.css">
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/ecStat.min.js"></script>
    <link rel="stylesheet" href="http://github.hubspot.com/odometer/themes/odometer-theme-minimal.css" />
    <script src="http://github.hubspot.com/odometer/odometer.js"></script>

</head>
<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NFMT56K"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

<div class="container-fluid">
<form  action="{{ url_for('predict')}}"  method="POST">
  <div class="text-center mb-4">
      <a href="/">
          <img src="../static/stationery2.png" class="img" alt="Responsive image" width="70%" height="70%" title="Back to Homepage">
      </a>
      <br>
    <h1 class="h3 mb-3 font-weight-normal">Salary Predictor</h1>
    <p>Please <strong style="color: crimson">Only</strong> select those skills that <br>a job requires to maximize the accuracy</p>
  </div>

    <section class="predictor">
         <!-- Main Input For Receiving Query to our ML -->
    <div class="text-center">
    <label class="mdb-main-label">Company Ratings:  </label>
        <select class="selectpicker 1" data-header="How people think about this company?" data-max-options="1" data-width="45%" name="rating">
                <option  value="0" data-subtext="I have nothing to lose">0</option>
                <option  value="1" data-subtext="Well...">1</option>
                <option  value="2" data-subtext="It is Okay..">2</option>
                <option  value="3.6" data-subtext="Glassdoor Median" selected>3.6</option>
                <option  value="4" data-subtext="Great!">4</option>
                <option  value="5" data-subtext="Dream came true">5</option>
        </select>
    </div>
        <br>
    <div class="text-center">
    <label class="mdb-main-label">Data Skills:  </label>
    <select class="selectpicker 2" data-live-search="true" data-max-options="6" data-min-options="3" data-width="59%" multiple name="skills_selected" data-actions-box="true" data-header="Pleas choose more than 3 skills">
        <optgroup label="Lanuage">
            <option  value="C/C++">C/C++</option>
            <option  value="Scripting">Scripting</option>
            <option  value="SQL" >SQL</option>
            <option  value="Scala">Scala</option>
            <option  value="Java">Java</option>
            <option  value="JavaScript">JavaScript</option>
            <option  value="MATLAB">MATLAB</option>
            <option  value="MySQL" selected>MySQL</option>
            <option  value="Perl">Perl</option>
            <option  value="Python" selected>Python</option>
            <option  value="R">R</option>
        </optgroup>
        <optgroup label="Platform/Framework">
            <option  value=".Net">.NET Framework</option>
            <option  value="AWS">AWS</option>
            <option  value="Azure">Azure</option>
            <option  value="Git">Git</option>
            <option  value="Spark">Apache Spark</option>
            <option  value="Shell Scripting">Shell Scripting</option>
            <option  value="S3">Amazon S3</option>
            <option  value="PostgreSQL">PostgreSQL</option>
            <option  value="Pig">Apache Pig</option>
            <option  value="MongoDB">MongoDB</option>
            <option  value="Linux">Linux</option>
        </optgroup>
        <optgroup label="Software">
            <option  value="Excel" selected>Excel</option>
            <option  value="HBase">Apache HBase</option>
            <option  value="Tableau">Tableau</option>
            <option  value="TensorFlow">TensorFlow</option>
            <option  value="Hadoop">Apache Hadoop</option>
            <option  value="Hive">Apache Hive</option>
            <option  value="SPSS">SPSS</option>
            <option  value="SAS">SAS</option>
            <option  value="Oracle">Oracle</option>
            <option  value="Microsoft Office">Microsoft Office</option>
            <option  value="Kafka">Apache Kafka</option>
            <option  value="Microsoft SQL Server">Microsoft SQL Server</option>
        </optgroup>
        <optgroup label="Concept">
            <option  value="AI">AI</option>
            <option  value="Big Data">Big Data</option>
            <option  value="Business Intelligence">Business Intelligence</option>
            <option  value="Data Analysis">Data Analysis</option>
            <option  value="Data Science">Data Science</option>
            <option  value="Data Warehouse">Data Warehouse</option>
            <option  value="Project Management">Project Management</option>
            <option  value="NoSQL">NoSQL</option>
            <option  value="Natural Language Processing">Natural Language Processing</option>
            <option  value="Machine Learning">Machine Learning</option>
        </optgroup>
    </select>
    </div>
        <div class="text-center">
        <br>
      <button class="btn btn-lg btn-primary" id="btnFetch" type="submit"  style="width: 200px;" onclick="showRest()" >Submit</button>
    </div>
    </section>
</form>

    <br>
    <div class="text-center" >
        $<div id="odometer1" class="odometer"></div>
        <script>
                    setTimeout(function(){
            odometer1.innerHTML = {{Min_Salary}};
        }, 500);
        </script>
        ~ $<div id="odometer2" class="odometer"></div>
        <script>
                    setTimeout(function(){
            odometer2.innerHTML = {{Max_Salary}};
        }, 500);
        </script>
        <br>


        <br>
        <br>
{#        <span style="display: inline-block; width: 32%"><span>$</span><span class="counter">43,753</span></span>#}
    </div>

    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div class="text-center">

    <div id="main 3" style="width:100%;height:400px; margin:auto"></div>

        <script type="text/javascript">
            var myChart3 = echarts.init(document.getElementById('main 3'));

            var option = {
                    tooltip : {
                        trigger: 'axis',
                        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    legend: {
                        data:['Min Salary', 'Max Salary']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis : [
                        {
                            type : 'value',
                            axisLabel:{formatter:'${value}'},
                            show:false
                        }
                    ],
                    yAxis : [
                        {
                            type : 'category',
                            axisTick : {show: false},
                            data : ['Data Analyst Average Annual Salary in NYC','Your Estimated Annual Salary'],

                        }
                    ],
                    series : [
                        {
                            name:'Max',
                            type:'bar',
                            stack: '总量',
                            label: {
                                normal: {
                                    show: true,
                                    formatter:'${c0}'
                                }
                            },
                            data:[91356, 47782]
                        },
                        {
                            name:'Min',
                            type:'bar',
                            stack: '总量',
                            label: {
                                normal: {
                                    show: true,
                                    position: 'inside'
                                },
                            },
                            data:[-57498, -26983]
                        }
                    ]
                };
                    // 使用刚指定的配置项和数据显示图表。
        myChart3.setOption(option);
        window.onresize = function() {
            myChart3.resize();
                };

        </script>

    <div id="main 1" style="width:100%;height:400px; margin:auto"></div>

    <script type="text/javascript">

        // 基于准备好的dom，初始化echarts实例
        var myChart1 = echarts.init(document.getElementById('main 1'));

        // 指定图表的配置项和数据

        var option = {
            title: {
                text: 'How Much For Each Skill Only?',
                left: 'center',
                top:-5.5
            },
            tooltip : {},
            legend: {
                data: ['Min Salary', 'Avg Salary'],
                bottom: 1,
            },
            radar: {
                // shape: 'circle',
                name: {
                    textStyle: {
                        color: '#fff',
                        backgroundColor: '#999',
                        borderRadius: 3,
                        padding: [3, 5]
                   }
                },
                indicator:
                   {{ single_skill_info_max | safe }}
            },
            series: [{
                name: 'Average Salary',
                type: 'radar',
                 areaStyle: {normal:  {type: 'default'}},
                label: {
                normal: {
                        show: true,
                        position: 'inside',
                        formatter:'${c0}',

                    }
                },
                data : [
                    {
                        value : {{ single_skill_info_avg |safe}},
                        name : 'Avg Salary'
                    },
                    {
                        value: {{ single_skill_info_min |safe}},
                        name : 'Min Salary'
                    }
                ]
            }]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart1.setOption(option);
        window.onresize = function() {
            myChart1.resize();
                };
    </script>
    </div>
<br>
    <div id="main 2" style="width:100%;height:400px; margin:auto"></div>

    <script type="text/javascript">

        // 基于准备好的dom，初始化echarts实例
        var myChart2 = echarts.init(document.getElementById('main 2'));

        // 指定图表的配置项和数据

        var option = {
            title: {
                text: 'What Skills might Increase the Salary?',
                left:'center'
            },
            tooltip: {},
            grid:{
                containLabel: true
            },
            xAxis: {
                data: {{ Suggest_Skills_Skills |safe}},
                axisLabel:{
                    interval:0,
                    rotate:-10,
                }

            },
            yAxis: {splitLine: {
                     show: false
                  },
                axisLabel:{formatter:'${value}'}
            },

            series: [{
                type: 'bar',
                data: {{ Suggest_Skills_SkillsSalary|safe}},
                label: {
                normal: {
                    show: true,
                    position: 'top',
                    color:'black',
                    formatter:'${c0}',
                }
            },
            }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart2.setOption(option);
        window.onresize = function() {
            myChart2.resize();
                };
    </script>
    </div>
</div>


</div>

<script>
$(document).ready(function() {
    $("#btnFetch").click(function() {
      // add spinner to button
      $(this).html(
        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  Loading...`
      );
    });
});
</script>

</body>

</html>