<!DOCTYPE html>
<html lang="en">
<head>
    <title>NYC Data Analyst Salary Predictor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153150408-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-153150408-1');
    </script>


    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <link rel="stylesheet" href="/static/css/floating-labels.css">


    <style>
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -ms-flex-align: center;
            -ms-flex-pack: center;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }
    </style>
</head>
<body class="text-center">


<div class="container-fluid ">

    <form action="{{ url_for('predict',_anchor='allviz') }}" method="POST">
        <div class="text-center mb-4" id="'img-logo">
            <div id="image">
                <img id="preload" onload="fadeIn(this)"  src="../static/stationery2.png" style="display:none;" alt="Responsive image"
                     width="60%" height="60%"
                     title="Back to Homepage"/>
            </div>





            <br>
            <h1 class="h3 mb-3 font-weight-normal ">Salary Predictor</h1>

            <p class="col-sm">
                Use Machine Learning to predict salary base on <strong style="color: crimson">
                Data Analyst skills</strong>
                in job description! &nbsp<img src="static/info.svg" width="20" height="20" data-html="true"
                                              title="Rating: How people think?<br> SkillsL: For one job only"
                                              data-toggle="tooltip" data-placement="left"><br>
            </p>
        </div>

        <section class="predictor">
            <!-- Main Input For Receiving Query to our ML -->
            <div class="text-center">
                <label class="mdb-main-label">Company Ratings: </label><br>
                <select class="selectpicker 1" data-max-options="1"
                        data-width="auto" name="rating" ,required>
                    <img  src="static/info.svg" width="20" height="20" title="How people think of this company?"
                         data-toggle="tooltip">
                    <option value="0">0 - I have nothing to lose</option>
                    <option value="1">1 - "Well...</option>
                    <option value="2">2 - It is Okay..</option>
                    <option value="3" selected>3 - Dataset Median</option>
                    <option value="4">4 - Great!</option>
                    <option value="5">5 - Dream came true</option>
                </select>
            </div>
            <br>
            <div class="text-center">
                <label class="mdb-main-label">Data Skills: </label><br>
                <select class="selectpicker 2" data-live-search="false" data-max-options="6"
                        data-min-options="3"
                        data-width="auto" multiple name="skills_selected"
                        required>
                    <optgroup label="Language">
                        <option value="C/C++">C/C++</option>
                        <option value="Scripting">Scripting</option>
                        <option value="SQL">SQL</option>
                        <option value="Scala">Scala</option>
                        <option value="Java">Java</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="MATLAB">MATLAB</option>
                        <option value="MySQL">MySQL</option>
                        <option value="Perl">Perl</option>
                        <option value="Python">Python</option>
                        <option value="R">R</option>
                    </optgroup>
                    <optgroup label="Platform/Framework/Software">
                        <option value=".Net">.NET Framework</option>
                        <option value="AWS">AWS</option>
                        <option value="Azure">Azure</option>
                        <option value="Git">Git</option>
                        <option value="Spark">Apache Spark</option>
                        <option value="Shell Scripting">Shell Scripting</option>
                        <option value="S3">Amazon S3</option>
                        <option value="PostgreSQL">PostgreSQL</option>
                        <option value="Pig">Apache Pig</option>
                        <option value="MongoDB">MongoDB</option>
                        <option value="Linux">Linux</option>
                        <option value="Cassandra">Cassandra</option>
                        <option value="Excel">Excel</option>
                        <option value="HBase">Apache HBase</option>
                        <option value="Tableau">Tableau</option>
                        <option value="TensorFlow">TensorFlow</option>
                        <option value="Hadoop">Apache Hadoop</option>
                        <option value="Hive">Apache Hive</option>
                        <option value="SPSS">SPSS</option>
                        <option value="SAS">SAS</option>
                        <option value="Oracle">Oracle</option>
                        <option value="Microsoft Office">Microsoft Office</option>
                        <option value="Kafka">Apache Kafka</option>
                        <option value="Microsoft SQL Server">Microsoft SQL Server</option>
                    </optgroup>
                    <optgroup label="Concept">
                        <option value="AI">AI</option>
                        <option value="Big Data">Big Data</option>
                        <option value="Business Intelligence">Business Intelligence</option>
                        <option value="Data Analysis">Data Analysis</option>
                        <option value="Data Science">Data Science</option>
                        <option value="Data Warehouse">Data Warehouse</option>
                        <option value="Project Management">Project Management</option>
                        <option value="NoSQL">NoSQL</option>
                        <option value="Natural Language Processing">NLP</option>
                        <option value="Machine Learning">Machine Learning</option>
                    </optgroup>
                </select>
            </div>
            <div class="text-center">
                <br>
                <button class="btn btn-lg btn-primary btn-dark shadow p-2" id="btnFetch" type="submit"
                        style="width: 200px;" >Submit
                </button>
            </div>
        </section>
        <p class="mt-5 mb-3 text-muted">Copyright © 2019 Qihua.</p>
    </form>
    <br>


    <script>
        function fadeIn(obj) {
    $(obj).fadeIn(1000);
}
    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        $(".animated").addClass("delay-1s");
        $(document).ready(function () {
            $("#btnFetch").click(function () {
                // add spinner to button
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  About 20s...`
                );

            });

        });
    </script>
</div>

</body>
</html>