<!DOCTYPE html>
<html lang="en">
<head>
    <title>NYC Data Analyst Salary Predictor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153150408-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-153150408-1');
    </script>


    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <link rel="stylesheet" href="/static/css/floating-labels.css">


    <style>
        .odometer .odometer-inside:before {
            content: "$"
        }
    </style>
    

</head>
<body>

<div class="container-fluid">

    <form action="{{ url_for('predict') }}" method="POST" onsubmit="myButton.disabled = true; return true;">
        <div class="text-center mb-4">
            <a href="/">
                <img src="../static/stationery3.png" class="img-fluid animated fadeInUp" alt="Responsive image"
                     width="100%" height="100%"
                     title="Back to Homepage">
            </a>
            <br>
            <br>
            <h1 class="h3 mb-3 font-weight-normal">Salary Predictor</h1>
            <div class="card mb-4 shadow-sm text-left" style="width:100%;" style="background-color: #F6F6F6">
                <div class="card-body">
                        Choose your <strong style="color: crimson">
                    Data Skills</strong> to get <strong>
                    Predicted Salary</strong> and <strong>
                        What to Learn</strong>
                         in New York City!<br>
                </div>

                <section class="predictor">
                    <!-- Main Input For Receiving Query to our ML -->
                    <div class="text-center">
                        <label class="mdb-main-label"><img class="float-right" src="static/info.svg" width="20" height="20"
                                                       data-html="true"
                                                       title="Skills for one job"
                                                       data-toggle="tooltip" data-placement="left"> Data Skills:  &nbsp&nbsp&nbsp </label> <br>
                        <select id="mSelect" class="selectpicker 2" data-live-search="false" data-max-options="6"
                                data-min-options="3"
                                data-width="auto" multiple name="skills_selected"
                                required>
                            <optgroup label="Language">
                                <option value="C/C++">C/C++</option>
                                <option value="Scripting">Scripting</option>
                                <option value="SQL">SQL</option>
                                <option value="Scala">Scala</option>
                                <option value="Java">Java</option>
                                <option value="JavaScript">JavaScript</option>
                                <option value="MATLAB">MATLAB</option>
                                <option value="MySQL">MySQL</option>
                                <option value="Perl">Perl</option>
                                <option value="Python">Python</option>
                                <option value="R">R</option>
                            </optgroup>
                            <optgroup label="Platform/Framework/Software">
                                <option value=".Net">.NET Framework</option>
                                <option value="AWS">AWS</option>
                                <option value="Azure">Azure</option>
                                <option value="Git">Git</option>
                                <option value="Spark">Apache Spark</option>
                                <option value="Shell Scripting">Shell Scripting</option>
                                <option value="S3">Amazon S3</option>
                                <option value="PostgreSQL">PostgreSQL</option>
                                <option value="Pig">Apache Pig</option>
                                <option value="MongoDB">MongoDB</option>
                                <option value="Linux">Linux</option>
                                <option value="Cassandra">Cassandra</option>
                                <option value="Excel">Excel</option>
                                <option value="HBase">Apache HBase</option>
                                <option value="Tableau">Tableau</option>
                                <option value="TensorFlow">TensorFlow</option>
                                <option value="Hadoop">Apache Hadoop</option>
                                <option value="Hive">Apache Hive</option>
                                <option value="SPSS">SPSS</option>
                                <option value="SAS">SAS</option>
                                <option value="Oracle">Oracle</option>
                                <option value="Microsoft Office">Microsoft Office</option>
                                <option value="Kafka">Apache Kafka</option>
                                <option value="Microsoft SQL Server">Microsoft SQL Server</option>
                            </optgroup>
                            <optgroup label="Concept">
                                <option value="AI">AI</option>
                                <option value="Big Data">Big Data</option>
                                <option value="Business Intelligence">Business Intelligence</option>
                                <option value="Data Analysis">Data Analysis</option>
                                <option value="Data Science">Data Science</option>
                                <option value="Data Warehouse">Data Warehouse</option>
                                <option value="Project Management">Project Management</option>
                                <option value="NoSQL">NoSQL</option>
                                <option value="Natural Language Processing">NLP</option>
                                <option value="Machine Learning">Machine Learning</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="text-center">
                        <br>
                        <button class="btn btn-lg btn-primary btn-dark shadow p-2" id="btnFetch" type="submit" name="myButton"
                                style="width: 200px;">Submit
                        </button>
                    </div>

                </section>

    </form>

    <br>
</div>
<p class="text-center">
    Copyright © 2019 Qihua.
    <br>
    <a href="https://github.com/Johnnydaszhu/Skill_Salary_Predictor"><img src="static/GitHub.svg" width="20" height="20">&nbsp&nbsp</a>
    <a href="https://medium.com/@johnnydaszhu/nyc-data-analyst-salary-prediction-flask-web-app-13ee453da3aa?sk=b065e8e52a1fde5cf7e5d62d0448f1a6"><img src="static/medium.svg" width="20" height="20"></a>
</p>
</div>



</div>


<script>
    $("#mSelect").append($("#mSelect option").remove().sort(function(a, b) {
    var at = $(a).text(), bt = $(b).text();
    return (at > bt)?1:((at < bt)?-1:0);
}));

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    $(document).ready(function () {
        $("#div1Link").click(function () {
            $("html, body").animate({
                scrollTop: $("#allviz").offset().top
            }, {duration: 500, easing: "swing"});
            return false;
        });
    });


    $(document).ready(function () {
        $("#btnFetch").click(function () {
            // add spinner to button
            $(this).html(
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  Loading...`
            );

        });

    });
</script>
</div>

</body>

</html>
