<!DOCTYPE html>
<html lang="en">
<head>
    <title>NYC Data Analyst Salary Predictor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://http://cdn.bootcss.com/jquery-resize/1.1/jquery.ba-resize.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153150408-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-153150408-1');
    </script>


    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <link rel="stylesheet" href="/static/css/odometer-theme-car.css">
    <link rel="stylesheet" href="/static/css/floating-labels.css">
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/ecStat.min.js"></script>
    <script src="/static/js/odometer.js"></script>

    <style>
        .odometer .odometer-inside:before {
            content: "$"
        }
    </style>

</head>
<body>

<div class="container-fluid">

    <form action="{{ url_for('predict') }}" method="POST">
        <div class="text-center mb-4">
            <a href="/">
                <img src="../static/stationery2.png" class="img-fluid animated fadeInUp" alt="Responsive image"
                     width="60%" height="60%"
                     title="Back to Homepage">
            </a>
            <br>
            <h1 class="h3 mb-3 font-weight-normal">Salary Predictor</h1>
            <div class="card mb-4 shadow-sm text-left" style="width:100%;" style="background-color: #F6F6F6">
                <div class="card-header shadow-sm rounded"><strong>Choose and Predict: </strong></div>
                <div class="card-body">
                    Use Machine Learning to predict salary base on <strong style="color: crimson">
                    Data Analyst skills</strong>
                    in job description !&nbsp <img class="float-right" src="static/info.svg" width="20" height="20"
                                                   data-html="true"
                                                   title="Rating: How people think?<br> SkillsL: For one job only"
                                                   data-toggle="tooltip" data-placement="left"><br>
                </div>

                <section class="predictor">
                    <!-- Main Input For Receiving Query to our ML -->
                    <div class="text-center">
                        <label class="mdb-main-label">Company Ratings: </label>
                        <br>
                        <select class="selectpicker 1" data-max-options="1"
                                data-width="auto" name="rating" ,required>
                            <option value="0">0 - I have nothing to lose</option>
                            <option value="1">1 - "Well...</option>
                            <option value="2">2 - It is Okay..</option>
                            <option value="3" selected>3 - Dataset Median</option>
                            <option value="4">4 - Great!</option>
                            <option value="5">5 - Dream came true</option>
                        </select>
                    </div>
                    <br>
                    <div class="text-center">
                        <label class="mdb-main-label">Data Skills: </label><br>
                        <select class="selectpicker 2" data-live-search="false" data-max-options="6"
                                data-min-options="3"
                                data-width="auto" multiple name="skills_selected"
                                required>
                            <optgroup label="Language">
                                <option value="C/C++">C/C++</option>
                                <option value="Scripting">Scripting</option>
                                <option value="SQL">SQL</option>
                                <option value="Scala">Scala</option>
                                <option value="Java">Java</option>
                                <option value="JavaScript">JavaScript</option>
                                <option value="MATLAB">MATLAB</option>
                                <option value="MySQL">MySQL</option>
                                <option value="Perl">Perl</option>
                                <option value="Python">Python</option>
                                <option value="R">R</option>
                            </optgroup>
                            <optgroup label="Platform/Framework/Software">
                                <option value=".Net">.NET Framework</option>
                                <option value="AWS">AWS</option>
                                <option value="Azure">Azure</option>
                                <option value="Git">Git</option>
                                <option value="Spark">Apache Spark</option>
                                <option value="Shell Scripting">Shell Scripting</option>
                                <option value="S3">Amazon S3</option>
                                <option value="PostgreSQL">PostgreSQL</option>
                                <option value="Pig">Apache Pig</option>
                                <option value="MongoDB">MongoDB</option>
                                <option value="Linux">Linux</option>
                                <option value="Cassandra">Cassandra</option>
                                <option value="Excel">Excel</option>
                                <option value="HBase">Apache HBase</option>
                                <option value="Tableau">Tableau</option>
                                <option value="TensorFlow">TensorFlow</option>
                                <option value="Hadoop">Apache Hadoop</option>
                                <option value="Hive">Apache Hive</option>
                                <option value="SPSS">SPSS</option>
                                <option value="SAS">SAS</option>
                                <option value="Oracle">Oracle</option>
                                <option value="Microsoft Office">Microsoft Office</option>
                                <option value="Kafka">Apache Kafka</option>
                                <option value="Microsoft SQL Server">Microsoft SQL Server</option>
                            </optgroup>
                            <optgroup label="Concept">
                                <option value="AI">AI</option>
                                <option value="Big Data">Big Data</option>
                                <option value="Business Intelligence">Business Intelligence</option>
                                <option value="Data Analysis">Data Analysis</option>
                                <option value="Data Science">Data Science</option>
                                <option value="Data Warehouse">Data Warehouse</option>
                                <option value="Project Management">Project Management</option>
                                <option value="NoSQL">NoSQL</option>
                                <option value="Natural Language Processing">NLP</option>
                                <option value="Machine Learning">Machine Learning</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="text-center">
                        <br>
                        <button class="btn btn-lg btn-primary btn-dark shadow p-2" id="btnFetch" type="submit"
                                style="width: 200px;">Submit
                        </button>
                    </div>

                </section>

    </form>

    <br>
</div>
</div>


<!-- Echarts Viz -->
<div class="text-left" id="allviz">

    <div class="card mb-4 shadow-sm" style="width:100%;height: 100%;" style="background-color: #F6F6F6">
        <div class="card-header shadow-sm rounded"><strong>Getting Started</strong></div>
        <div class="card-body">

            <div class="text-center">
                <br>
                <a class="btn btn-dark shadow-sm btn-sm" data-toggle="collapse" href="#collapseExample" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    More Tech
                </a>
            </div>
            <br>

            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    The salary dataset is mainly base on Glassdoor when you search New York Data Analyst only with
                    salary included. And the skills were selected from each job description. <br><br>
                    Therefore, the best use
                    case for this model is either helping HR propose a salary or A job seeker/ New Grad to find
                    their marketing position and find new skills to learn.<br><br>
                    We used an Xgboost Machine Learning Model to predict the minimum and maximum salary
                    separately.<br>
                    The graph below in this card view is showing the gap between the predicted salary and the actual
                    one. <br><br>
                    We could see the model performs better on predicting maximum. When predicting the minimum
                    salary,
                    it tends to predict higher on the low end and lower on the high end.
                </div>
            </div>
            <br><br>
            <h6 class="card-title text-center"><strong style="color: crimson">Predicted</strong> VS <strong
                    style="color: #2F4554">Actual</strong></h6>
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#tab1"  data-toggle="tab">Min</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab2"  data-toggle="tab">Max</a>
                    </li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane  active" id="tab1">
                        <div id="tab1-container" class="myTable-container" style="width:100%;height:200px; margin:auto;"
                             style="background-color: #F6F6F6"></div>
                    </div>
                    <div class="tab-pane " id="tab2">
                        <div id="tab2-container" class="myTable-container" style="width:100%;height:200px; margin:auto;"
                             style="background-color: #F6F6F6"></div>
                    </div>
                </div>
            </div>
            <script>
                var $tab1 = document.getElementById('tab1-container');
                var $tab2 = document.getElementById('tab2-container');

                /* 折线图 */
                var tab1Option = {
                    xAxis: {
                        scale: true,
                        axisLabel: {formatter: '{value}'},
                        name: 'Salary ranks per job',
                        nameGap: 30,
                        nameLocation: 'middle',
                        splitNumber: 5,

                    },
                    grid: {
                        left: '20%',
                        right: '5%'
                    },
                    yAxis: {
                        scale: false,
                        axisLabel: {formatter: '${value}'},
                        name: 'Min Salary',

                    },

                    series: [{
                        type: 'scatter',
                        symbolSize: 5,

                        data: {{ y_pred_min |safe}},
                    }, {
                        type: 'scatter',
                        symbolSize: 5,
                        data: {{ y_min| safe}},

                    }]
                };

                /* 饼图 */
                var tab2Option = {
                    xAxis: {
                        scale: true,
                        axisLabel: {formatter: '{value}'},
                        name: 'Salary ranks per job',
                        nameGap: 30,
                        nameLocation: 'middle',
                        splitNumber: 5,

                    },
                    grid: {
                        left: '20%',
                        right: '5%'
                    },
                    yAxis: {
                        scale: false,
                        axisLabel: {formatter: '${value}'},
                        name: 'Max Salary',
                        max: 170000,

                    },

                    series: [{
                        type: 'scatter',
                        symbolSize: 5,

                        data: {{ y_pred_max |safe}},
                    }, {
                        type: 'scatter',
                        symbolSize: 5,
                        data: {{ y_max| safe}},

                    }]
                };


                /* 初始化tab1的 */
                var tab1Table = echarts.init($tab1);
                tab1Table.setOption(tab1Option);

                /* shown.bs.tab为tab选项卡高亮 */
                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    /* 获取已激活的标签页的名称 */
                    /* hash 属性是一个可读可写的字符串，该字符串是 URL 从 # 号开始的部分 */
                    var activeTab = $(e.target)[0].hash;
                    /* 当相应的标签被点击时，进行对应的图表渲染 */
                    if (activeTab == "#tab2") {
                        /* 释放图表实例，使实例不可用,不加上这个，会报错： */
                        /* there is a chart instance     already initialized on the dom */
                        echarts.dispose($tab2);
                        var tab2Table = echarts.init($tab2);
                        tab2Table.setOption(tab2Option);
                    }
                });
            </script>

        </div>

    </div>


    <p class="mt-5 mb-3 text-muted text-center">Copyright © 2019 Qihua.</p>
</div>

</div>


<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    $(document).ready(function () {
        $("#div1Link").click(function () {
            $("html, body").animate({
                scrollTop: $("#allviz").offset().top
            }, {duration: 500, easing: "swing"});
            return false;
        });
    });


    $(document).ready(function () {
        $("#btnFetch").click(function () {
            // add spinner to button
            $(this).html(
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  Loading...`
            );

        });

    });
</script>
</div>

</body>

</html>
