<!DOCTYPE html>
<html lang="en">
<head>
    <title>NYC Data Analyst Salary Predictor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153150408-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-153150408-1');
    </script>


    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <link rel="stylesheet" href="/static/css/floating-labels.css">
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/ecStat.min.js"></script>
    <script src="/static/js/odometer.js"></script>
    <link rel="stylesheet" href="http://github.hubspot.com/odometer/themes/odometer-theme-car.css"/>
    <style>
        .odometer .odometer-inside:before {
            content: "Max Salary:  $"
        }
    </style>

</head>
<body>

<div class="container-fluid">

    <form action="{{ url_for('predict') }}" method="POST">
        <div class="text-center mb-4">
            <a href="/">
                <img src="../static/stationery2.png" class="img" alt="Responsive image" width="60%" height="60%"
                     title="Back to Homepage">
            </a>
            <br>
            <h1 class="h3 mb-3 font-weight-normal">Salary Predictor</h1>
            <p>Please <strong style="color: crimson">Only</strong> select those skills that <br>a job requires to
                maximize the accuracy</p>
        </div>

        <section class="predictor">
            <!-- Main Input For Receiving Query to our ML -->
            <div class="text-center">
                <label class="mdb-main-label">Company Ratings: </label><br>
                <select class="selectpicker 1" data-header="How people think about this company?" data-max-options="1"
                        data-width="50%" name="rating">
                    <option value="0" data-subtext="I have nothing to lose">0</option>
                    <option value="1" data-subtext="Well...">1</option>
                    <option value="2" data-subtext="It is Okay..">2</option>
                    <option value="3.6" data-subtext="Dataset Median" selected>3.6</option>
                    <option value="4" data-subtext="Great!">4</option>
                    <option value="5" data-subtext="Dream came true">5</option>
                </select>
            </div>
            <br>
            <div class="text-center">
                <label class="mdb-main-label">Data Skills: </label><br>
                <select class="selectpicker 2" data-live-search="true" data-max-options="6" data-min-options="3"
                        data-width="50%" multiple name="skills_selected" data-header="Pleas choose more than 3">
                    <optgroup label="Lanuage">
                        <option value="C/C++">C/C++</option>
                        <option value="Scripting">Scripting</option>
                        <option value="SQL">SQL</option>
                        <option value="Scala">Scala</option>
                        <option value="Java">Java</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="MATLAB">MATLAB</option>
                        <option value="MySQL" selected>MySQL</option>
                        <option value="Perl">Perl</option>
                        <option value="Python" selected>Python</option>
                        <option value="R">R</option>
                    </optgroup>
                    <optgroup label="Platform/Framework">
                        <option value=".Net">.NET Framework</option>
                        <option value="AWS">AWS</option>
                        <option value="Azure">Azure</option>
                        <option value="Git">Git</option>
                        <option value="Spark">Apache Spark</option>
                        <option value="Shell Scripting">Shell Scripting</option>
                        <option value="S3">Amazon S3</option>
                        <option value="PostgreSQL">PostgreSQL</option>
                        <option value="Pig">Apache Pig</option>
                        <option value="MongoDB">MongoDB</option>
                        <option value="Linux">Linux</option>
                    </optgroup>
                    <optgroup label="Software">
                        <option value="Excel" selected>Excel</option>
                        <option value="HBase">Apache HBase</option>
                        <option value="Tableau">Tableau</option>
                        <option value="TensorFlow">TensorFlow</option>
                        <option value="Hadoop">Apache Hadoop</option>
                        <option value="Hive">Apache Hive</option>
                        <option value="SPSS">SPSS</option>
                        <option value="SAS">SAS</option>
                        <option value="Oracle">Oracle</option>
                        <option value="Microsoft Office">Microsoft Office</option>
                        <option value="Kafka">Apache Kafka</option>
                        <option value="Microsoft SQL Server">Microsoft SQL Server</option>
                    </optgroup>
                    <optgroup label="Concept">
                        <option value="AI">AI</option>
                        <option value="Big Data">Big Data</option>
                        <option value="Business Intelligence">Business Intelligence</option>
                        <option value="Data Analysis">Data Analysis</option>
                        <option value="Data Science">Data Science</option>
                        <option value="Data Warehouse">Data Warehouse</option>
                        <option value="Project Management">Project Management</option>
                        <option value="NoSQL">NoSQL</option>
                        <option value="Natural Language Processing">NLP</option>
                        <option value="Machine Learning">Machine Learning</option>
                    </optgroup>
                </select>
            </div>
            <div class="text-center">
                <br>
                <button class="btn btn-lg btn-primary" id="btnFetch" type="submit" style="width: 200px;"
                        onclick="document.getElementById('my_id').style.display = 'block' ;">Submit
                </button>
            </div>
        </section>
    </form>
    <br>

    <div class="text-center">

        <div id="odometer2" class="odometer"></div>
        <script>
            setTimeout(function () {
                odometer2.innerHTML = {{Max_Salary}};
            }, 500);
        </script>
        <br>
        <br>
    </div>

    <!-- Echarts Viz -->
    <div class="text-center ">

        <div class="card mb-4 shadow-sm " style="background-color: #F6F6F6">
            <div id="main 4" style="width:100%;height:400px; margin:auto"></div>

            <script type="text/javascript">
                var myChart4 = echarts.init(document.getElementById('main 4'));

                var xAxisData = {{ hist_x }};
                var data2 = {{hist_min}};
                var data1 ={{hist_max}};


                var option = {
                    title: {
                        text: 'NYC Data Analyst Salary Range in Dataset',
                        left: 'center',
                        top: 10,
                        textStyle: {
                            fontWeight: '20',
                            fontSize: '15'
                        }
                    },
                    legend: {
                        data: ['min', 'max'],
                        align: 'right',
                        bottom: 2
                    },
                    toolbox: {
                        y: 'bottom',
                        feature: {
                            magicType: {
                                type: ['stack', 'tiled']
                            },
                        }
                    },
                    tooltip: {
                        formatter: '${b0}',
                    },
                    grid: {
                        containLabel: false
                    },
                    xAxis: {
                        data: xAxisData,
                        silent: false,
                        axisLabel: {formatter: '${value}'},
                        splitLine: {
                            show: false
                        }
                    },
                    yAxis: {
                        show: false
                    },
                    series: [{
                        name: 'min',
                        type: 'bar',
                        data: data2,
                        animationDelay: function (idx) {
                            return idx * 10;
                        }
                    }, {
                        name: 'max',
                        type: 'bar',
                        data: data1,
                        animationDelay: function (idx) {
                            return idx * 10 + 100;
                        }
                    }],
                    animationEasing: 'elasticOut',
                    animationDelayUpdate: function (idx) {
                        return idx * 5;
                    }
                };


                myChart4.setOption(option);
                window.onresize = function () {
                    myChart4.resize();
                };
            </script>
        </div>
        <div class="card mb-4 shadow-sm" style="background-color: #F6F6F6">
            <div id="main 1" style="width:100%;height:500px; margin:auto"></div>

            <script type="text/javascript">


                var myChart1 = echarts.init(document.getElementById('main 1'));


                var option = {
                    title: {
                        text: 'Increase Salary by adding a skills',
                        left: 'center',
                        top: 10,
                        textStyle: {
                            fontWeight: '20',
                            fontSize: '15'
                        }
                    },

                    radar: {
                        // shape: 'circle',
                        nameGap: 30,
                        center: ['50%', '50%'],
                        radius: '60%',
                        name: {
                            textStyle: {
                                color: '#fff',
                                backgroundColor: '#5f5f5f',
                                borderRadius: 3,
                                padding: [3, 5]
                            }
                        },
                        indicator: (function () {
                            var names = {{Suggest_Skills_Skills | safe}};
                            var res = []
                            for (i of names) {
                                res.push({text: i , max: 25000});
                            }
                            return res;
                        })(),
                    },

                    series: [{
                        name: 'Average Salary',
                        type: 'radar',
                        areaStyle: {normal: {type: 'default'}},
                        label: {
                            normal: {
                                show: true,
                                position: 'inside',
                                formatter: '+${c0}',

                            }
                        },
                        data: [
                            {
                                value: {{ Suggest_Skills_SkillsSalary|safe}},
                                name: 'Avg Salary',
                                label:{
                                    normal: {
                                        color:'#C23531',
                                        position:'outside',
                                        fontSize:14,
                                        backgroundColor: 'white'

                                    }
                                }
                            }

                        ]
                    }]
                };


                myChart1.setOption(option);
                window.onresize = function () {
                    myChart1.resize();
                };
            </script>
        </div>

        <div class="card mb-4 shadow-sm" style="background-color: #F6F6F6">
            <div id="main 8" style="width:100%;height:400px; margin:auto"></div>

            <script type="text/javascript">


                var myChart = echarts.init(document.getElementById('main 8'));
                var app ={}

                var option = {
                    title: {
                        text: 'How Much For One Skill Only?',
                        left: 'center',
                        top: 10,
                        textStyle: {
                            fontWeight: '20',
                            fontSize: '15',

                        }
                    },
                    tooltip: {
                                textStyle: {
                                    align: 'left'
                                },
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'shadow'
                                },
                                formatter: '<strong>{b0}</strong><br>Max: ${c0}<br />Min: ${c1}'
                            },
                    legend: {

                        bottom: 10,
                    },
                    grid: {
                        containLabel: false
                    },
                    xAxis: {
                        data: {{ single_skill_info_names |safe}},
                        axisLabel: {
                            interval: 0,
                            rotate: 10,
                        }

                    },
                    yAxis: {
                        show: false,

                    },

                    series: [ {
                        name: 'Min Salary',
                        type: 'bar',
                        data: {{ single_skill_info_min|safe}},
                        label: {
                            normal: {
                                show: true,
                                position: 'top',
                                color: 'black',
                                formatter: '${c0}',
                            }
                        },
                        },{
                        barGap:'0%',
                        name: 'Max Salary',
                        type: 'bar',
                        data: {{ single_skill_info_max2|safe}},
                        label: {
                            normal: {
                                show: true,
                                position: 'top',
                                color: 'black',
                                formatter: '${c0}',

                            }
                        },
                    }
                    ]
                };

                myChart.setOption(option);
                window.onresize = function () {
                    myChart.resize();
                };
                app.currentIndex = -1;
                setInterval(function () {
                    var dataLen = option.series[0].data.length;
                    // 取消之前高亮的图形
                    myChart.dispatchAction({
                        type: 'downplay',
                        seriesIndex: 0,
                        dataIndex: app.currentIndex
                    });
                    app.currentIndex = (app.currentIndex + 1) % dataLen;
                    // 高亮当前图形
                    myChart.dispatchAction({
                        type: 'highlight',
                        seriesIndex: 0,
                        dataIndex: app.currentIndex
                    });
                    // 显示 tooltip
                    myChart.dispatchAction({
                        type: 'showTip',
                        seriesIndex: 0,
                        dataIndex: app.currentIndex
                    });
                }, 4000);

            </script>
        </div>

        <div class="card mb-4 shadow-sm " style="background-color: #F6F6F6">
            <div id="main 5" style="width:100%;height:400px; margin:auto"></div>
            <script>
                var app = {}
                var myChart = echarts.init(document.getElementById('main 5'));

                option = {
                    tooltip: {
                        trigger: 'item',
                        textStyle: {
                            align: 'left'
                        },
                        formatter: function (params) {
                            var s = '';
                            s += params.name;
                            var values = params.value.toString().split(",");
                            s += '<strong>Average Salary:</strong> $' + values[0];
                            s += '<br><strong>Ratio</strong>: ' + values[1] + '%';
                            s += '<br><strong>Skill</strong>: ' + values[2];
                            return s;
                        }

                    },
                    title: {
                        text: 'How much for those selected skills?',
                        left: 'center',
                        top: 10,
                        textStyle: {
                            fontWeight: '20',
                            fontSize: '15'
                        }
                    },
                    xAxis: {
                        scale: true,
                        axisLabel: {formatter: '${value}'},
                        name: 'Salary for One skill',
                        nameGap: 30,
                        nameLocation: 'middle',
                        splitNumber: 3,

                    },
                    yAxis: {
                        scale: true,
                        axisLabel: {formatter: '{value}%'},
                        name: 'Ratio in jobs',

                    },

                    series: [{
                        type: 'scatter',
                        symbolSize: 8,
                        data: {{ skill_info_avg_ratio| safe}},

                    },{
                        type: 'effectScatter',
                        symbolSize: 10,

                        data: {{ single_skill_info_avg_ratio |safe}},


                    }, ]
                };


                myChart.setOption(option);
               app.currentIndex = -1;
                setInterval(function () {
                    var dataLen = option.series[0].data.length;
                    // 取消之前高亮的图形
                    myChart.dispatchAction({
                        type: 'downplay',
                        seriesIndex: 0,
                        dataIndex: app.currentIndex
                    });
                    app.currentIndex = (app.currentIndex + 1) % dataLen;
                    // 高亮当前图形
                    myChart.dispatchAction({
                        type: 'highlight',
                        seriesIndex: 0,
                        dataIndex: app.currentIndex
                    });
                    // 显示 tooltip
                    myChart.dispatchAction({
                        type: 'showTip',
                        seriesIndex: 0,
                        dataIndex: app.currentIndex
                    });
                }, 4000);




            </script>
        </div>

        <div class="card mb-4 shadow-sm " style="background-color: #F6F6F6">
            <div id="main 6" style="width:100%;height:400px; margin:auto"></div>

            <script type="text/javascript">

                var myChart6 = echarts.init(document.getElementById('main 6'));

                myChart6.showLoading();
                $.getJSON('static/data/data2.json', function (json) {
                    myChart6.hideLoading();

                    myChart6.setOption(option = {
                        title: {
                            text: 'High Salary Skill Pairs',
                            left: 'center',
                            top: 10,
                            textStyle: {
                                fontWeight: '20',
                                fontSize: '15',
                            }
                        },

                        series: [
                            {
                                type: 'graph',
                                layout: 'force',
                                animation: false,
                                // progressiveThreshold: 700,
                                edges: json.edges.map(function (edge) {
                                    return {
                                        source: edge.source,
                                        target: edge.target
                                    };
                                }),
                                data: json.nodes.map(function (node) {
                                    return {
                                        x: node.x,
                                        y: node.y,
                                        id: node.id,
                                        name: node.label,
                                        symbolSize: node.size,
                                        itemStyle: {
                                            normal: node.color
                                        }
                                    };
                                }),
                                type: 'graph',
                                layout: 'force',
                                roam: false,
                                edgeSymbol: ['arrow'],
                                edgeLabel: {},
                                force: {
                                    repulsion: 1000,
                                    edgeLength: [50, 500],
                                    gravity: 0.5
                                },
                                draggable: true,
                                focusNodeAdjacency: true,
                                lineStyle: {
                                    normal: {
                                        width: 0.5,
                                        curveness: 0.3,


                                    }
                                },

                                label: {
                                    normal: {
                                        show: true,
                                        textStyle: {}
                                    }
                                },

                            }
                        ]
                    }, true);
                });
                window.onresize = function () {
                    myChart6.resize();
                };

            </script>
        </div>


    </div>


    <script>

        $(document).ready(function () {
            $("#btnFetch").click(function () {
                // add spinner to button
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  Loading...`
                );

            });

        });
    </script>
</div>

</body>

</html>
