<!DOCTYPE html>
<html lang="en">
<head>
    <title>NYC Data Analyst Salary Predictor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153150408-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-153150408-1');
    </script>


    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <link rel="stylesheet" href="/static/css/odometer-theme-car.css">
    <link rel="stylesheet" href="/static/css/floating-labels.css">
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/ecStat.min.js"></script>
    <script src="/static/js/odometer.js"></script>

    <style>
        .odometer .odometer-inside:before {
            content: "$"
        }
    </style>

</head>
<body>

<div class="container-fluid">


    <form action="{{ url_for('predict') }}" method="POST">
        <div class="text-center mb-4">
            <a href="/">
                <img src="../static/stationery2.png" class="img-fluid animated fadeInUp" alt="Responsive image"
                     width="60%" height="60%"
                     title="Back to Homepage">
            </a>
            <br>
            <h1 class="h3 mb-3 font-weight-normal">Salary Predictor</h1>
            <div class="card mb-4 shadow-sm text-left" style="width:100%;" style="background-color: #F6F6F6">
                <div class="card-header shadow-sm rounded"><strong>Choose and Predict: </strong></div>
                <div class="card-body">
                    <p>
                        Use Machine Learning to predict salary base on <strong style="color: crimson"> <br>
                        Data Analyst skills</strong>
                        in job description!<br><br>
                        Please <strong style="color: crimson">Only</strong> select the skills that <br>One job requires
                        to
                        maximize the accuracy
                    </p>
                </div>

                <section class="predictor">
                    <!-- Main Input For Receiving Query to our ML -->
                    <div class="text-center">
                        <label class="mdb-main-label">Company Ratings: </label><br>
                        <select class="selectpicker 1" data-max-options="1"
                                data-width="50%" name="rating" title="how people think of this company" ,required>
                            <option value="0">0 - I have nothing to lose</option>
                            <option value="1">1 - "Well...</option>
                            <option value="2">2 - It is Okay..</option>
                            <option value="3" selected>3 - Dataset Median</option>
                            <option value="4">4 - Great!</option>
                            <option value="5">5 - Dream came true</option>
                        </select>
                    </div>
                    <br>
                    <div class="text-center">
                        <label class="mdb-main-label">Data Skills: </label><br>
                        <select class="selectpicker 2" data-live-search="true" data-max-options="6" data-min-options="3"
                                data-width="50%" multiple name="skills_selected" title="Pleas choose more than 3"
                                required>
                            <optgroup label="Language">
                                <option value="C/C++">C/C++</option>
                                <option value="Scripting">Scripting</option>
                                <option value="SQL">SQL</option>
                                <option value="Scala">Scala</option>
                                <option value="Java">Java</option>
                                <option value="JavaScript">JavaScript</option>
                                <option value="MATLAB">MATLAB</option>
                                <option value="MySQL">MySQL</option>
                                <option value="Perl">Perl</option>
                                <option value="Python">Python</option>
                                <option value="R">R</option>
                            </optgroup>
                            <optgroup label="Platform/Framework/Software">
                                <option value=".Net">.NET Framework</option>
                                <option value="AWS">AWS</option>
                                <option value="Azure">Azure</option>
                                <option value="Git">Git</option>
                                <option value="Spark">Apache Spark</option>
                                <option value="Shell Scripting">Shell Scripting</option>
                                <option value="S3">Amazon S3</option>
                                <option value="PostgreSQL">PostgreSQL</option>
                                <option value="Pig">Apache Pig</option>
                                <option value="MongoDB">MongoDB</option>
                                <option value="Linux">Linux</option>
                                <option value="Cassandra">Cassandra</option>
                                <option value="Excel">Excel</option>
                                <option value="HBase">Apache HBase</option>
                                <option value="Tableau">Tableau</option>
                                <option value="TensorFlow">TensorFlow</option>
                                <option value="Hadoop">Apache Hadoop</option>
                                <option value="Hive">Apache Hive</option>
                                <option value="SPSS">SPSS</option>
                                <option value="SAS">SAS</option>
                                <option value="Oracle">Oracle</option>
                                <option value="Microsoft Office">Microsoft Office</option>
                                <option value="Kafka">Apache Kafka</option>
                                <option value="Microsoft SQL Server">Microsoft SQL Server</option>
                            </optgroup>
                            <optgroup label="Concept">
                                <option value="AI">AI</option>
                                <option value="Big Data">Big Data</option>
                                <option value="Business Intelligence">Business Intelligence</option>
                                <option value="Data Analysis">Data Analysis</option>
                                <option value="Data Science">Data Science</option>
                                <option value="Data Warehouse">Data Warehouse</option>
                                <option value="Project Management">Project Management</option>
                                <option value="NoSQL">NoSQL</option>
                                <option value="Natural Language Processing">NLP</option>
                                <option value="Machine Learning">Machine Learning</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="text-center">
                        <br>
                        <button class="btn btn-lg btn-primary btn-dark shadow p-2" id="btnFetch" type="submit"
                                style="width: 200px;"
                                onclick="document.getElementById('my_id').style.display = 'block' ;">Re-Submit
                        </button>
                    </div>
                </section>
    </form>
    <br>
</div>
</div>
<!-- Echarts Viz -->
<div class="text-left">

    <div class="card mb-4 shadow-sm" style="width:100%;height: 100%;" style="background-color: #F6F6F6">
        <div class="card-header shadow-sm rounded"><strong>Getting Started</strong></div>
        <div class="card-body">
            <p class="card-text">
                Company Rating: <strong style="color: crimson">{{ rating }}</strong><br>
                Paired skills selected:
                {% for inputs_list_element in inputs_list |join(' ,') %}
                    <strong style="color: crimson">{{ inputs_list_element }} </strong>
                {% endfor %}
                <br>
                <br>
                The estimated salary range for a job that requires with such skill pair:<br>


            <div class="text-center">
                <div id="odometer2" class="odometer"></div>
            <script>
                setTimeout(function () {
                    odometer2.innerHTML = {{Min_Salary}};
                }, 500);
            </script>
            <strong>~</strong>
            <div id="odometer1" class="odometer"></div>
            <script>
                setTimeout(function () {
                    odometer1.innerHTML = {{Max_Salary}};
                }, 600);
            </script>

            </div>
            <div class="text-right">
                <br>
                <a class="btn btn-dark shadow-sm btn-sm" data-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false" aria-controls="collapseExample">
                More Tech
            </a>
            </div>
            <br>

            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    The salary dataset is mainly base on Glassdoor when you search New York Data Analyst only with
                    salary included. And the skills were selected from each job description. <br><br>
                    Therefore, the best use
                    case for this model is either helping HR propose a salary or A job seeker/ New Grad to find
                    their marketing position and find new skills to learn.<br><br>
                    We used an Xgboost Machine Learning Model to predict the minimum and maximum salary
                    separately.<br>
                    The graph below in this card view is showing the gap between the predicted salary and the actual
                    one. <br><br>
                    We could see the model performs better on predicting maximum. When predicting the minimum
                    salary,
                    it tends to predict higher on the low end and lower on the high end.
                </div>
            </div>
            <br><br>
            <h6 class="card-title text-center"><strong style="color: crimson">Predicted</strong> VS <strong
                    style="color: #2F4554">Actual</strong></h6>

            <div id="main 0" style="width:100%;height:400px; margin:auto;"
                 style="background-color: #F6F6F6"></div>
            <script>
                var myChart0 = echarts.init(document.getElementById('main 0'));

                option = {
                    xAxis: {
                        scale: true,
                        axisLabel: {formatter: '{value}'},
                        name: 'Salary ranks per job',
                        nameGap: 30,
                        nameLocation: 'middle',
                        splitNumber: 5,

                    },
                    grid: {
                        left: '20%',
                        right: '5%'
                    },
                    yAxis: {
                        scale: false,
                        axisLabel: {formatter: '${value}'},
                        name: 'Min Salary',

                    },

                    series: [{
                        type: 'scatter',
                        symbolSize: 5,

                        data: {{ y_pred_min |safe}},
                    }, {
                        type: 'scatter',
                        symbolSize: 5,
                        data: {{ y_min| safe}},

                    }]
                };


                myChart0.setOption(option);
                window.onresize = function () {
                    myChart0.resize();
                };
            </script>
            <br>
            <div id="main 01" style="width:100%;height:400px; margin:auto;"
                 style="background-color: #F6F6F6"></div>
            <script>
                var myChart0 = echarts.init(document.getElementById('main 01'));

                option = {
                    xAxis: {
                        scale: true,
                        axisLabel: {formatter: '{value}'},
                        name: 'Salary ranks per job',
                        nameGap: 30,
                        nameLocation: 'middle',
                        splitNumber: 5,

                    },
                    grid: {
                        left: '20%',
                        right: '5%'
                    },
                    yAxis: {
                        scale: false,
                        axisLabel: {formatter: '${value}'},
                        name: 'Max Salary',
                        max: 170000,

                    },

                    series: [{
                        type: 'scatter',
                        symbolSize: 5,

                        data: {{ y_pred_max |safe}},
                    }, {
                        type: 'scatter',
                        symbolSize: 5,
                        data: {{ y_max| safe}},

                    }]
                };


                myChart0.setOption(option);
                window.onresize = function () {
                    myChart0.resize();
                };
            </script>
        </div>

    </div>

    <div class="card mb-4 shadow-sm" style="width:100%;height: 100%;" style="background-color: #F6F6F6">
        <div class="card-header shadow-sm rounded"><strong>Where is you?</strong>
        </div>
        <div class="card-body">
            <p class="card-text">
                A histogram to show how minimum and maximum <strong style="color: crimson">salary distribute</strong> in our dataset.
            </p>
            <div id="main 1" style="width:100%;height:400px; margin:auto"
                 style="background-color: #F6F6F6"></div>

            <script type="text/javascript">
                var myChart = echarts.init(document.getElementById('main 1'));

                var xAxisData = {{ hist_x }};
                var data2 = {{hist_min}};
                var data1 ={{hist_max}};


                var option = {
                    grid: {
                        left: '20%',
                        right: '5%',
                    },
                    title: {
                        show: false
                    },
                    legend: {
                        name: ['Min', 'Max'],
                        data: ['min', 'max'],
                        align: 'right',
                        bottom: 2
                    },

                    toolbox: {
                        y: 'bottom',
                        feature: {
                            magicType: {
                                type: ['stack', 'tiled']
                            },
                        }
                    },
                    tooltip: {
                        formatter: '${b0}',
                    },
                    grid: {
                        containLabel: false
                    },
                    xAxis: {
                        data: xAxisData,
                        silent: false,
                        axisLabel: {formatter: '${value}'},
                        splitLine: {
                            show: false
                        }
                    },
                    yAxis: {
                        show: true,
                        name: 'Frequency',

                    },
                    series: [{
                        name: 'min',
                        type: 'bar',
                        data: data2,

                        animationDelay: function (idx) {
                            return idx * 10;
                        }
                    }, {
                        name: 'max',
                        type: 'bar',
                        data: data1,
                        animationDelay: function (idx) {
                            return idx * 10 + 100;
                        }
                    }],
                    animationEasing: 'elasticOut',
                    animationDelayUpdate: function (idx) {
                        return idx * 5;
                    }
                };


                myChart.setOption(option);
                window.onresize = function () {
                    myChart.resize();
                };
            </script>
        </div>
    </div>

    <div class="card mb-4 shadow-sm" style="width:100%;" style="background-color: #F6F6F6">
        <div class="card-header shadow-sm rounded"><strong>How Much For One Skill Only?</strong></div>
        <div class="card-body">
            <p class="card-text">
                This bar chart shows how much would a job offers only one skill you selected.
                And this would help you evaluate your <strong style="color: crimson">money-making skills</strong>.
            </p>
            <div id="main 3" style="width:100%;height:400px; margin:auto"
                 style="background-color: #F6F6F6"></div>

            <script type="text/javascript">


                var myChart = echarts.init(document.getElementById('main 3'));

                var option = {
                    tooltip: {
                        textStyle: {
                            align: 'left'
                        },
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        },
                        formatter: '<strong>{b0}</strong><br>Max: ${c0}<br />Min: ${c1}'
                    },
                    legend: {

                        bottom: 10,
                    },
                    grid: {
                        containLabel: false
                    },
                    xAxis: {
                        data: {{ single_skill_info_names |safe}},
                        axisLabel: {
                            interval: 0,
                            rotate: 10,
                        }

                    },
                    yAxis: {
                        show: false,

                    },

                    series: [{
                        name: 'Min',
                        type: 'bar',
                        data: {{ single_skill_info_min|safe}},
                        label: {
                            normal: {
                                show: true,
                                position: 'top',
                                color: 'black',
                                formatter: '${c0}',


                            }
                        },
                    }, {
                        barGap: '0%',
                        name: 'Max',
                        type: 'bar',
                        data: {{ single_skill_info_max2|safe}},
                        label: {
                            normal: {
                                show: true,
                                position: 'top',
                                color: 'black',
                                formatter: '${c0}',

                            }
                        },
                    }
                    ]
                };
                myChart.setOption(option);
                app.currentIndex = -1;
                setInterval(function () {
                    var dataLen = option.series[0].data.length;
                    // 取消之前高亮的图形
                    myChart.dispatchAction({
                        type: 'downplay',
                        seriesIndex: 0,
                        dataIndex: app.currentIndex
                    });
                    app.currentIndex = (app.currentIndex + 1) % dataLen;
                    // 高亮当前图形
                    myChart.dispatchAction({
                        type: 'highlight',
                        seriesIndex: 0,
                        dataIndex: app.currentIndex
                    });
                    // 显示 tooltip
                    myChart.dispatchAction({
                        type: 'showTip',
                        seriesIndex: 0,
                        dataIndex: app.currentIndex
                    });
                }, 4000);

                window.onresize = function () {
                    myChart.resize();
                };

            </script>
        </div>
    </div>
    <div class="card mb-4 shadow-sm" style="width:100%;" style="background-color: #F6F6F6">
        <div class="card-header shadow-sm rounded"><strong>Top 6 Skill to Increase Salary</strong></div>
        <div class="card-body">
            <p class="card-text">
                This is the most exciting part, find out the <strong style="color: crimson">next skill to learn</strong> to boost your salary! Notice, the salary
                here means how much you could increase by learning that skill. But don't add them all.
            </p>
            <div id="main 2" style="width:100%;height:300px; margin:auto"
                 style="background-color: #F6F6F6"></div>

            <script type="text/javascript">


                var myChart = echarts.init(document.getElementById('main 2'));


                var option = {
                    grid: {
                        left: '20%',
                        right: '20%',
                    },
                    radar: {
                        // shape: 'circle',
                        nameGap: 5,
                        center: ['50%', '50%'],
                        radius: '40%',
                        name: {
                            formatter: function (value, indicator) {
                                let text = value + '\n' + '$' + indicator.num
                                return text

                            },
                            textStyle: {
                                color: '#fff',
                                backgroundColor: '#5f5f5f',
                                borderRadius: 3,
                                padding: [3, 5],
                                fontSize: '10',

                            }
                        },
                        indicator: (function () {
                            var names = {{Suggest_Skills_Skills | safe}};
                            var res = []
                            var myArray = {{ Suggest_Skills_SkillsSalary|safe}};
                            names.forEach((a, i) => res.push({
                                text: a,
                                num: myArray[i],
                                max: {{max_Suggest_Skills_SkillsSalary | safe}}
                            }));
                            return res
                        })(),
                    },

                    series: [{
                        name: 'Average Salary',
                        type: 'radar',
                        areaStyle: {normal: {type: 'default'}},
                        label: {
                            normal: {
                                show: false,
                                position: 'inside',
                                formatter: '+${c0}',

                            }
                        },
                        data: [
                            {
                                value: {{ Suggest_Skills_SkillsSalary|safe}},
                                name: 'Avg Salary',
                                label: {
                                    normal: {
                                        color: '#C23531',
                                        position: 'outside',
                                        fontSize: 14,
                                        backgroundColor: 'white'

                                    }
                                }
                            }

                        ]
                    }]
                };
                myChart.setOption(option);
                window.onresize = function () {
                    myChart.resize();
                };


            </script>
        </div>
    </div>


    <div class="card mb-4 shadow-sm" style="width:100%;" style="background-color: #F6F6F6">
        <div class="card-header shadow-sm rounded"><strong>How skills really matters for
            salary?</strong>
        </div>
        <div class="card-body">
            <p class="card-text">
                This is a grand picture of how each skill matters in predicting salary among the <strong style="color: crimson">top 46</strong> skills. Simply saying, the
                higher importance score, the greater this skill would impact the salary prediction.
            </p>
            <div id="main 4" style="width:100%;height:400px; margin:auto;"
                 style="background-color: #F6F6F6"></div>
            <script>
                var app = {}
                var myChart4 = echarts.init(document.getElementById('main 4'));

                option = {
                    grid: {
                        left: '20%',
                        right: '5%',
                    },
                    tooltip: {
                        trigger: 'item',
                        textStyle: {
                            align: 'left'
                        },
                        formatter: function (params) {
                            var s = '';
                            s += params.name;
                            var values = params.value.toString().split(",");
                            s += '<strong>Average Salary:</strong> $' + values[0];
                            s += '<br><strong>Skill Importance</strong>: ' + values[1] + '%';
                            s += '<br><strong>Skill</strong>: ' + values[2];
                            return s;
                        }

                    },

                    xAxis: {
                        scale: true,
                        axisLabel: {formatter: '${value}'},
                        name: 'Salary for One skill',
                        nameGap: 30,
                        nameLocation: 'middle',
                        splitNumber: 3,

                    },
                    yAxis: {
                        scale: true,
                        axisLabel: {formatter: '{value}%'},
                        name: 'Skill Importance',

                    },

                    series: [{
                        type: 'scatter',
                        symbolSize: 8,
                        data: {{ skill_info_avg_importance| safe}},

                    }, {
                        type: 'effectScatter',
                        symbolSize: 10,

                        data: {{ single_skill_info_avg_importance |safe}},


                    },]
                };


                myChart4.setOption(option);
                window.onresize = function () {
                    myChart4.resize();
                };
                app.currentIndex = -1;
                setInterval(function () {
                    var dataLen = option.series[0].data.length;
                    // 取消之前高亮的图形
                    myChart4.dispatchAction({
                        type: 'downplay',
                        seriesIndex: 0,
                        dataIndex: app.currentIndex
                    });
                    app.currentIndex = (app.currentIndex + 1) % dataLen;
                    // 高亮当前图形
                    myChart4.dispatchAction({
                        type: 'highlight',
                        seriesIndex: 0,
                        dataIndex: app.currentIndex
                    });
                    // 显示 tooltip
                    myChart4.dispatchAction({
                        type: 'showTip',
                        seriesIndex: 0,
                        dataIndex: app.currentIndex
                    });
                }, 3500);
            </script>
        </div>
    </div>

    <div class="card mb-4 shadow-sm" style="width:100%;" style="background-color: #F6F6F6">
        <div class="card-header shadow-sm rounded"><strong>What a high paid skill pair looks like? </strong></div>
        <div class="card-body">
            <p class="card-text">
                    This network graph shows how those high paid skills related. <br>
                    Fun fact: You could draw the skill to see it more clear.
            </p>
            <div id="main 5" style="width:100%;height:400px; margin:auto"
                 style="background-color: #F6F6F6"></div>

            <script type="text/javascript">

                var myChart = echarts.init(document.getElementById('main 5'));

                myChart.showLoading();
                $.getJSON('static/data/data.json', function (json) {
                    myChart.hideLoading();
                    window.onresize = function () {
                        myChart.resize();
                    };

                    myChart.setOption(option = {
                        grid: {
                            left: '40%',
                            right: '5%',
                        },

                        series: [
                            {
                                type: 'graph',
                                layout: 'none',
                                bottom: 1,
                                animation: false,
                                // progressiveThreshold: 700,
                                edges: json.edges.map(function (edge) {
                                    return {
                                        source: edge.source,
                                        target: edge.target
                                    };
                                }),
                                data: json.nodes.map(function (node) {
                                    return {
                                        x: node.x,
                                        y: node.y,
                                        id: node.id,
                                        name: node.label,
                                        symbolSize: node.size,
                                        itemStyle: {
                                            normal: node.color
                                        }
                                    };
                                }),
                                type: 'graph',
                                layout: 'force',
                                roam: false,
                                edgeSymbol: ['arrow'],
                                left: '20%',
                                righht: '5%',
                                edgeLabel: {},
                                force: {
                                    repulsion: 1000,
                                    edgeLength: [100, 500],
                                    gravity: 0.6
                                },
                                draggable: true,
                                focusNodeAdjacency: true,
                                lineStyle: {
                                    normal: {
                                        width: 0.7,
                                        curveness: 1,


                                    }
                                },

                                label: {
                                    normal: {
                                        show: true,
                                        textStyle: {}
                                    }
                                },

                            }
                        ]
                    }, true);
                });


            </script>
        </div>
    </div>

</div>
</div>


<script>

    $(document).ready(function () {
        $("#btnFetch").click(function () {
            // add spinner to button
            $(this).html(
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  Loading...`
            );

        });

    });
</script>
</div>

</body>

</html>
